{
    "BasedOnStyle": "Google", 
    "IndentWidth": 4,
    "SortIncludes": false,
    "NamespaceIndentation": "None",
    "IndentAfterExternBlock": false,
    "BraceWrapping": {
        "AfterFunction": true
                  
    }
}

